.myCustomNavbarSettings {
    background-color: #333333 !important;
    /*border-bottom: white 1px solid !important;*/
    height: 85px;
    
}
.bodySettings {
    background-color: #333333 !important;
}
.myNavbarElementSettings {
    @media (min-width: 768px) {
        margin-left: 8%; margin-right: 8%;
    }
}